<div class="flex h-[85px] w-full items-center justify-between">
        <h2
          class="text-white font-bold font-antonio text-[40px] leading-[52px] tracking-wide mx-10"
        >
          The Kosmos
        </h2>
        <div class="flex space-x-10 w-[665px] h-[25px] text-white font-lg">
          
          <a href="/">Home</a>
          <a href="/venus">Venus</a>
          <a href="/earth">Earth</a>
          <a href="/jupiter">Jupiter</a>
          <a href="/saturn">Saturn</a>
          <a href="/uranus">Uranus</a>
          <a href="/neptune">Neptune</a>
        </div>
      </div>