---
const {planetData} = Astro.props
 

---


<script>

</script>
        <div class="flex w-[650px] h-[550px] items-center justify-end">
          
           <img id="" class="" src={planetData[0].images.planet} alt="">
            <img id="geologyImage" class="hidden" src={planetData[0].images.internal} alt="">
          <img id="geologyImage" class="hidden" src={planetData[0].images.geology} alt="">
        </div>
   
